<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

	<div class="container">
		<div class="jumbotron">
			<%=@blogger.name%>
		</div>

			Age : <%=@blogger.age%>
			<br> <br>
			Bio : <%=@blogger.bio%>
			<br> <br>
			The most popular post is: 
			<%if @popular_post%>
				<%=link_to @popular_post.title + " " + @popular_post.likes.to_s + " likes", post_path(@popular_post)%>
			<%else%>
			 <br>There is no posts yet. <br>
			<%end%>

			<br> <br>
			All other posts: <br>
			<%@posts.each do |b|%>
				<%=link_to b.title + " " + b.likes.to_s + " likes", post_path(b)%>
				<br>
			<%end%>

			<br><br>
			Total likes : <%=@total_likes%>


	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>